{% extends 'Shop/base.html'%}
{% load static %}
{% block content%}
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount">
            				
            			</div><!-- End .checkout-discount -->
            			<form  method="post">
							{% csrf_token %}
							<div class="row">
								<div class="col-lg-9">
									<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
									<div class="row">
										<div class="col-sm-6">
											<label>First Name *</label>
											{{form.first_name}}
										</div><!-- End .col-sm-6 -->
										<div class="col-sm-6">
											<label>Last Name *</label>
											{{form.first_name}}
		                				</div><!-- End .col-sm-6 -->
		                			</div><!-- End .row -->
	           						<label>Company Name (Optional)</label>
									   {{form.company}}
									<label>Country *</label>
	            						{{form.country}}
            						<label>Street address *</label>
	            						{{form.apartment}}
										{{form.house}}
	            					<div class="row">
										<div class="col-sm-6">
											<label>Town / City *</label>
											{{form.city}}
		                				</div><!-- End .col-sm-6 -->

	                					<div class="col-sm-6">
											<label>State / County *</label>
											{{form.state}}
		                				</div><!-- End .col-sm-6 -->
		                			</div><!-- End .row -->
	                				<div class="row">
										<div class="col-sm-6">
											<label>Postcode / ZIP *</label>
		                					{{form.postal_code}}
		                				</div><!-- End .col-sm-6 -->

		                				<div class="col-sm-6">
											<label>Phone *</label>
		                						{{form.phone}}
		                				</div><!-- End .col-sm-6 -->
		                			</div><!-- End .row -->
	               					<label>Email address *</label>
	        							{{form.email}}
                					<label>Order notes (optional)</label>
	        							{{form.order_note}}
		                		</div><!-- End .col-lg-9 -->
								<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                			Place Order
								</button>
						</form>
					</div>

		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
                                                {% for item in cart %}
		                						<tr>
		                							<td><a href="#">{{item.quantity}} X {{item.product.name}}</a></td>
		                							<td>${{item.total_price}}</td>
		                						</tr>
                                                {% endfor %}

		                						
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>${{ cart.get_total_price }}</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>Free shipping</td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>${{ cart.get_total_price }}</td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
											<h4>Payments Options:</h4>
											{{form.payment_method}}
										</div>
	    				
		                	</div><!-- End .summary -->
		                </aside><!-- End .col-lg-3 -->
		            	</div><!-- End .row -->
					
	        </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

{% endblock %}